
 <div class="nav-side-menu navbar-light">
            <div class="brand">              
             <img src="assets/person.png" style="width:60px;height:90px">
             <h5 class="text-center">Santosh M</h5>
             <h6 class="text-center">Physician</h6>

            </div>
            <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
          
                <div class="menu-list">
          
                    <ul id="menu-content" class="menu-content ">
                        
                        <li  data-toggle="collapse" data-target="#products" class="collapsed active">
                          <a href="#"><i class="fa fa-gift fa-lg"></i> Dashboard <i class="fa fa-angle-right" id="one"></i></a>
                        </li>
                        
        
                        
                        <li data-toggle="collapse" data-target="#new" class="collapsed">
                            <i class="fa fa-calendar"></i> Appointment <i class="fa fa-angle-right" id="one"></i>
                          </li>
                          <ul class="sub-menu collapse" id="new">
                            <li>calander</li>
                            <a routerLink="productsale"><li>Create Appointment</li></a>
                            
                            <li>Book History</li>
                          </ul> 
                        
        
        
                        <li data-toggle="collapse" data-target="#patient" class="collapsed">
                          <i class="fa fa-user"></i> Patient <i class="fa fa-angle-right" id="one"></i>
                        </li>
                        <ul class="sub-menu collapse" id="new">

                        </ul>
        
        
                        <li data-toggle="collapse" data-target="#users" class="collapsed">
                                <i class="fa fa-users"></i> Users <span class="arrow"></span>
                              </li>
                              <ul class="sub-menu collapse" id="new2">
                                
                                
                              </ul>
        
                              <li data-toggle="collapse" data-target="#services" class="collapsed">
                                <i class="fa fa-stethoscope"></i> Services <i class="fa fa-angle-right" id="one"></i>
                              </li>
                              <ul class="sub-menu collapse" id="new2">
                
                              </ul>
                       

                              <li data-toggle="collapse" data-target="#Accountsetting" class="collapsed">
                                <i class="fa fa-bars"></i> Account settings <i class="fa fa-angle-right" id="one"></i>
                              </li>
                              <ul class="sub-menu collapse" id="new2">
                            
                              </ul>
  
                        <li data-toggle="collapse" data-target="#payment" class="collapsed">
                            <i class="fa fa-credit-card"></i> payment 
                               </li>  
                               <li data-toggle="collapse" data-target="#Help" class="collapsed">
                                <i class="fa fa-comments"></i> Help <span class="arrow"></span>

                                   </li>  
  
                                   <li data-toggle="collapse" data-target="#support" class="collapsed">
                                    <i class="fa fa-headphones"></i> Support <span class="arrow"></span>
                                </li>  

                                       <li data-toggle="collapse" data-target="#BPMN" class="collapsed">
                                        BPMN
                                       </li>  
                                     
                    </ul>
                    <hr style="border-color: white">
                   
                        <div style="font-size: 14px;">
                            <i class="fa fa-sign-out">Logout</i>
                        </div>
                    
                    
             </div>
             

        </div>
       